@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");

:root {
  --theme-bg-color: #7c7a7a;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Serif", sans-serif;
}

body {
  background-color: var(--theme-bg-color);
}

.nav-links {
  text-decoration: none;
  margin: 2rem;
}
.nav-links .paragraph {
  font-size: 1.5rem;
}
@media screen and (min-width: 500px) {
  .nav-links {
    margin: 0 1.5rem;
  }
  .nav-links .paragraph {
    padding: 0;
  }
}

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 500px) {
  .parallax {
    background-attachment: fixed;
  }
}

.container {
  margin: 0.5rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1.5rem;
}
@media screen and (min-width: 500px) {
  .title {
    font-size: 3rem;
  }
}

.paragraph {
  padding: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
}
@media screen and (min-width: 500px) and (orientation: landscape) {
  .paragraph {
    line-height: 2.2rem;
    font-size: 1.5rem;
  }
}

.links {
  color: #fff;
}

.sections {
  background-color: #f6f6f6;
  padding: 0.5rem;
}

.reveal {
  font-size: 1.7rem;
  line-height: 2.5rem;
}